.count-down {
	font-family: "Times New Roman", Times, serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.count-down-container {
	color: rgb(173, 216, 231);
	width: 150px;
	height: 50px;
	outline: 10px double RGB(77, 32, 240);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.count-down-display {
	color: #000;
}

.count-down-red {
	color: red;
}
