#root,
.app,
.app > main,
.home {
	width: 100%;
}
.mouse-monitor {
	height: 100vh;
	width: 100%;
	background-color: #000;
	color: #fff;
}

.mouse-pos {
	position: absolute;
	bottom: 0;
	border: 1px solid red;
	padding: 10px;
	text-align: center;
}
